# Android / IntelliJ
# IDE
*.iml
/.idea/
/.kotlin/

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Gradle
.gradle/
/local.properties

# Build outputs
build/

# Android Studio captures folder
captures/

# Native builds
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db

# Packages / artifacts
*.apk
*.ap_
*.aab

# Logs and dumps
*.log
*.hprof

# Kotlin/Java
/out/
